@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    background: whitesmoke;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
}


body.dark{
    background: #050122;
    transition: 0.5s ease-in-out;
}
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container{
    position: fixed;
    align-items: center;
    text-align: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background: white;
    padding: 10px 100px;
    transition: .5s ease-in-out;
    z-index: 400000;
    box-shadow: 0px 4px 16px -3px rgba(0,0,0,0.75);
    backdrop-filter: blur(2px);
}

.container.sticky{
    padding: 5px 100px;
    background: rgba(255, 255, 255, 0.705);
    transition: .5s ease-in-out;
}
body.dark .container.sticky{
    padding: 5px 100px;
    background: rgba(0, 16, 109, 0.548);
    backdrop-filter: blur(2px);
    transition: .5s ease-in-out;
}

.container .logoandimg{
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: #318CE7;
    letter-spacing: 10px;
}

.container ul{
    position: relative;
    justify-content: center;
    display: flex;
    gap: 10%;
}
.container ul li{
    position: relative;
    list-style: none;
}
.container ul li a{
    position: relative;
    text-decoration: none;
    color: #318CE7;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 5px  15px;
    transition: .5s;
    border-radius: 10px;
}
.container ul li a:hover,
.container ul li a.active{
    background:#318CE7;
    color: white;
    transition: 0.5s;
}
.darkswitch{
    position: relative;
    background: #318CE7;
    display: flex;
    cursor: pointer;
    outline: none;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    border: none;
}
.darkswitch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: white;
}
.darkswitch::after{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: unset;
    width: 30px;
    height: 30px;
    background: whitesmoke;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
}   
.darkswitch.active{
    background: orange;
    transition: .5s;
}
.darkswitch.active::after{
    left: unset;
    right: 0;
    transition: .5s;
}
ion-icon{
    font-size: 15px;
    padding-top: 24%;
}

body.dark .container{
    background: #2b2a33;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px 100px;
    transition: .5s;
    z-index: 400000;
    box-shadow: 0px 4px 16px -3px rgba(72, 83, 233, 0.781);
    
}
body.dark .container .logoandimg{
    position: relative;
    color: white;
    font-weight: 700;
    transition: .5s;
}
body.dark .container ul li a{
    position: relative;
    color: whitesmoke;
    transition: .5s;
}

body.dark .container ul li a.active,
body.dark .container ul li a:hover{
    position: relative;
    color: black;
    background: whitesmoke;
}

.boton{
    font-size: 1em;
    padding: 5px 15px;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    background: #2b2a33;
    cursor: pointer;
}

body.dark .boton{
    background: #2b2a33;
    color: white;
    cursor: pointer;
}

.header{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding: 1%;
}
.img{
    position: relative;
    width: 100%;
    height: 25rem;
    text-align: center;
    background-size: contain;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    z-index: 6;
}
body.dark .img{
    position: relative;
    width: 100%;
    height: 25rem;
    display: none;
    text-align: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.img2{
    position: relative;
    width: 100%;
    height: 25rem;
    text-align: center;
    display: none;
    background-size: contain;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
body.dark .img2{
    position: relative;
    width: 100%;
    height: 25rem;
    text-align: center;
    display: block;
    background-size: contain;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.text-parallax{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1.3%;
    z-index: 5;
    background: whitesmoke;
    width: 100%;
}
body.dark .text-parallax{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
    background: #050122;
    width: 100%;
}

.boxes{
    position: relative;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 11%;
    display: flex;
    justify-content: space-around;
}
.box1{
    position: relative;
    width: 15rem;
    height: 7rem;
    display: flex;
    gap: 1%;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    background: #fc8c95;
}
body.dark .box1{
    position: relative;
    width: 15rem;
    height: 7rem;
    display: flex;
    gap: 1%;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    background: #e94856;
}
h3{
    position: relative;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    color: white;
    padding-left: 2%;
    padding-right: 6%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box2{
    position: relative;
    width: 15rem;
    height: 7rem;
    border-radius: 15px;
    background: #a6ebd1;
}
body.dark .box2{
    position: relative;
    width: 15rem;
    height: 7rem;
    border-radius: 15px;
    background: #11d88c;
}
.box3{
    position: relative;
    width: 15rem;
    height: 7rem;
    border-radius: 15px;
    background: #b9c3ec;
    display: flex;
}
body.dark .box3{
    position: relative;
    width: 15rem;
    height: 7rem;
    border-radius: 15px;
    background: #395ef1;
    display: flex;
}
.icons{
    position: relative;
    font-size: 8rem;
    color: white;
    margin-top: -20%;
}
.icons1{
    position: relative;
    font-size: 3rem;
    color: white;
    margin-top: -41%;
    margin-left: 15%;
}

.h31{
    position: relative;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-right: 6%;
    justify-content: center;
    align-items: center;
}
.icons2{
    position: relative;
    font-size: 4rem;
    margin-top: -3%;
    margin-left: -15%;
    color: white;
}

.h32{
    position: relative;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.links{
    position: relative;
    justify-content: center; 
    align-items: center;
    margin-left: 10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3%;  
    z-index: 6;
    padding: 5%;
    transition: 0.5s ease-in-out;
}
body.dark .links{
    background: #050122;
    transition: 0.5s ease-in-out;
}
.moodle{
    position: relative;
    width:20rem;
    height: 8rem;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    margin-bottom: 8%;
}
.moodle::after{
    content: "";
    position: absolute;
    top: -6%;
    border-radius: 51px 52px 0px 0px;
    -webkit-border-radius: 51px 52px 0px 0px;
    -moz-border-radius: 51px 52px 0px 0px;
    left: 0;
    width: 20rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    height: 2rem;
    padding: 0;
    background: repeating-linear-gradient(45deg, #ff7518 0, #ff7518 10%, transparent 0, transparent 50%);
        background-size: 3em 3em;
        background-color: #ffa652;
        opacity: 1
}
.mood{
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #ff7518;
    padding-top: 5%;
}
.route{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
    color: black;
}
.elgg{
    position: relative;
    width:20rem;
    height: 8rem;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    margin-bottom: 8%;
}
.elgg::after{
    content: "";
    position: absolute;
    top: -6%;
    border-radius: 51px 52px 0px 0px;
    -webkit-border-radius: 51px 52px 0px 0px;
    -moz-border-radius: 51px 52px 0px 0px;
    left: 0;
    width: 20rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    height: 2rem;
    padding: 0;
    background: repeating-linear-gradient(45deg, #1869ff 0, #1869ff 10%, transparent 0, transparent 50%);
        background-size: 3em 3em;
        background-color: #689dff;
        opacity: 1
}
.elg{
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1869ff;
    padding-top: 5%;
}
.route2{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
    color: black;
}

.limesurvey{
    position: relative;
    width:20rem;
    height: 8rem;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
}
.limesurvey::after{
    content: "";
    position: absolute;
    top: -6%;
    border-radius: 51px 52px 0px 0px;
    -webkit-border-radius: 51px 52px 0px 0px;
    -moz-border-radius: 51px 52px 0px 0px;
    left: 0;
    width: 20rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    height: 2rem;
    padding: 0;
    background: repeating-linear-gradient(45deg, #28e417 0, #28e417 10%, transparent 0, transparent 50%);
        background-size: 3em 3em;
        background-color: #83ff78;
        opacity: 1
}
.lime{
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #28e417;
    padding-top: 5%;
}
.route3{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
    color: black;
}

.kiwix{
    position: relative;
    width:20rem;
    height: 8rem;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
}
.kiwix::after{
    content: "";
    position: absolute;
    top: -6%;
    border-radius: 51px 52px 0px 0px;
    -webkit-border-radius: 51px 52px 0px 0px;
    -moz-border-radius: 51px 52px 0px 0px;
    left: 0;
    width: 20rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    height: 2rem;
    padding: 0;
    background: repeating-linear-gradient(45deg, #141414 0, #141414 10%, transparent 0, transparent 50%);
        background-size: 3em 3em;
        background-color: #9e9e9e;
        opacity: 1
}
.kiwi{
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    padding-top: 5%;
}
.route4{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    transition: 0.5s ease-in-out;
}

.route:hover{
    position: relative;
    transition: 0.5s ease-in-out;
    color: rgb(25, 179, 102);
}
.route2:hover{
    position: relative;
    transition: 0.5s ease-in-out;
    color: rgb(25, 179, 102);
}
.route3:hover{
    position: relative;
    transition: 0.5s ease-in-out;
    color: rgb(25, 179, 102);
}
.route4:hover{
    position: relative;
    transition: 0.5s ease-in-out;
    color: rgb(25, 179, 102);
}
.testo{
    position: relative;
    background: white;
    margin-top: 0%;
    z-index: 6;
}
body.dark .testo{
    position: relative;
    background: rgb(17, 1, 54);
    margin-top: 0%;
    transition: .5s;
}

.dd{
    position: relative;
    font-size: 4rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    color: #1869ff;
    text-shadow: 5px 5px 5px #aaaaaa70
}
body.dark .dd{
    position: relative;
    font-size: 4rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    color: #1869ff;
    text-shadow: 5px 5px 5px #000000
}
.rr{
    position: relative;
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    color: #1869ff;
}


.brand{
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    z-index: 2;
    display: none;
    justify-content: center;
    text-align: center;
}
body.dark .moon{
    position: relative;
    left: 44%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ecff81;
    box-shadow: -1px 2px 21px 15px rgba(255,255,138,0.75);
    -webkit-box-shadow: -1px 2px 21px 15px rgba(255,255,138,0.75);
    -moz-box-shadow: -1px 2px 21px 15px rgba(255,255,138,0.75);
}
.bra{
    position: relative;
    display: block;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
body.dark .bra{
    position: relative;
    display: none;
}
body.dark .brand{
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    z-index: 1;
    display: block;
    justify-content: center;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(227, 255, 68, 0.877);
}

.triki-box{
    position: relative;
    font-size: 3em;
    color: white;
    background: royalblue;
    text-align: center;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.triki{
    position: relative;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    font-weight: 700;
    z-index: 6;
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    margin-top: -0%;
    z-index: 6;
    background: whitesmoke;
}
body.dark .contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    margin-top: -0%;
    z-index: 6;
    background: #050122;
}

#description {
    font-size: 4em;
    color: black;
    background: whitesmoke;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    height: 50px;
    margin-bottom: 3%;
    z-index: 6;
}

body.dark #description {
    font-size: 4em;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 7%;
    color: white;
    background: #050122;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    height: 50px;
    z-index: 6;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 6;
    background: whitesmoke;
}
body.dark .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 6;
    background: #050122;
}
.rous{
    position: relative;
}
body.dark .rous{
    position: relative;
    margin-top: -3%;
}
.square {
    width: 122px;
    height: 122px;
    background: white;
    border-radius: 16px;
    border: 4px solid rgb(0, 0, 0);
    margin: 4px;
    z-index: 6;
}
body.dark .square {
    width: 122px;
    height: 122px;
    background: white;
    border-radius: 16px;
    border: 4px solid rgb(255, 255, 255);
    margin: 4px;
    z-index: 6;
    background: #715fff;
}
.highlight {
    border-color: royalblue;
}
body.dark .highlight {
    border-color: yellow;
}

.nada{
    position: relative;
    padding-top: 5%;
}
.nosotros{
    position: relative;
    padding: 10% 2%;
    background-color: #f5f5ff;
    opacity: 1;
    background-image: radial-gradient(#2d11ed 2px, #f5f5ff 2px);
    background-size: 40px 40px;
}
body.dark .nosotros{
    position: relative;
    padding: 10% 2%;
    background-color: #000010;
opacity: 1;
background-image: radial-gradient(#7c11ed 2px, #000010 2px);
background-size: 40px 40px;
}
.ww{
    position: relative;
    font-size: 5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-align: center;
}
body.dark .ww{
    position: relative;
    font-size: 5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
}








/*------------------- responsive mobile-------------------*/

@media screen and (max-width:768px) {
    
    .parallax-container{
        position: relative;
        margin-top: -16%;
    }
    .name{
        margin-top: 52.5%;
        font-size: 2rem;
    }
    .tec{
        margin-top: 64.5%;
        font-size: 1.6rem;
        margin-left: -3%;
    }
    .about{
        overflow: hidden;
    }
    .experience, .experience2{
        margin-top: 69%;
        font-size: .8rem;
    }
    
    .text-home{
        margin-top: 50%;
        font-size: 3rem;
        margin-left: 8%;
    }
    .text-home2{
        margin-top: 2%;
        display: none;
        font-size: 2rem;
        margin-left: -14%;
        z-index: 10;
    }

    .container{
        position: fixed;
        padding: 0 10%;
        z-index: 44;
    }
    .darkswitch{
        margin-left: 40%;
    }
    .logoandimg{
        z-index: 29999;
    }
    .nav{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(49, 49, 49, 0.644);
        backdrop-filter: blur(14px);
        margin-left: -100%;
        transition: all .5s ease;
    }

    .nav.responsive{
        margin-left: 0;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
    .nav_toggle .toggle{
        position: relative;
        display: block;
        margin-left: 80%;
        z-index: 2000;
    }

    .input1{
        min-width: 410px;
        min-height: 100px;
        max-width: 410px;
        max-height: 100px;
    }
    .tecnologies{
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }
    .tecnologies .h2{
        font-size: 1.4rem;
    }
    .cont_img .imagenes{
        position: relative;
        width: 30px;
        height: 40px;
        object-fit: contain;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*------------------- responsive deskop-------------------*/

@media screen and (min-width:1433px){
    .parallax-container{
        margin-top: 3.1%;
    }
    .text-home{
        margin-top: 29%;
        padding-left: 12%;
    }
    .text-home2{
        margin-top: 9%;
        padding-left: 47%;
    }
    .name{
        margin-top: 25%;
    }
    .tec{
        margin-top: 35%;
    }
    .experience{
        margin-top: 43%;
    }
    .experience2{
        margin-top: 43%;
    }
}

@media screen and (min-width:1181px){
    .parallax-container{
        margin-top: 3%;
    }
    .text-home{
        margin-top: 29%;
        font-size: 4rem;
        padding-left: 15%;
    }

    .name{
        margin-top: 36%;
    }
    .tec{
        margin-top: 47%;
        font-size: 3.5rem;
    }
    .experience{
        margin-top: 54%;
    }
    .experience2{
        margin-top: 54%;
    }
}
